autom4te.cache/
buildhere/
config.h
*~
*.o
*.lo
*.la
libtool
ltmain.sh
Makefile
Makefile.in
*.so
*.dylib
config.log
config.status
*.tar.gz
*.tar.bz2
.deps/
*.d
config.h
config.sub
missing
install-sh
stamp-h1
libtool.m4
aclocal.m4
m4/
aclocal.m4
depcomp
install-sh
udata.h
udata.c
std-lib.c
sys-lib.c
compile
config.guess
udata-gen
.libs
config.h.in
configure
dfsch-repl
dfsch-source-tool
dfsch-run
.dirstamp
boot-source-tool
version.h
